#signup_login {
  background-image: url('/assets/imgs/bg_signup_login.jpg');
  background-size: cover;
  opacity: 0.8;
}
.outer-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  width: 300px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
}

.input {
  display: flex;
  background: #fdfdfd;
  border-radius: 2px;
  padding: 5px;
}

.text-input {
  margin: 0;
}

div > p {
  margin: 0;
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.form-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-format {
  padding-bottom: 10px;
  font-size: $font-size;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
}
