<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!unauthorized">Recommended Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="signup_login" *ngIf="unauthorized">
  <div class="outer-container">
    <div class="inner-container">
      <div style="padding-bottom: 15px;">
        <ion-segment [(ngModel)]="auth_select">
          <ion-segment-button value="sign_up">
            {{'SIGN_UP' | translate}}
          </ion-segment-button>
          <ion-segment-button value="login">
            {{'LOGIN' | translate}}
          </ion-segment-button>
        </ion-segment>
      </div>

      <!-- showing up signup/login div -->
      <div [ngSwitch]="auth_select">
        <!-- login div -->
        <div *ngSwitchCase="'login'">
          <ul class="form-container">
            <li class="list-format"><div><ion-input class="input" max=20 type="email" placeholder="Email" [(ngModel)]="email"></ion-input></div></li>
            <li class="list-format"><div><ion-input class="input" max=20 type="password" placeholder="Password" [(ngModel)]="password"></ion-input></div></li>
            <li>
              <div>
                <button ion-button (click)="login()">
                  {{'LOGIN' | translate}}
                </button>
              </div>
            </li>
          </ul>
          <a>Forgot your password?</a>
        </div>
        <!-- signup div -->
        <div *ngSwitchCase="'sign_up'" class="input-container">
          <ul class="form-container">
            <li class="list-format"><div><ion-input class="input" max=20 placeholder="User Name" [(ngModel)]="user_name"></ion-input></div></li>
            <li class="list-format"><div><ion-input class="input" max=20 type="email" placeholder="Email" [(ngModel)]="email"></ion-input></div></li>
            <li class="list-format"><div><ion-input class="input" max=20 type="password" placeholder="Password" [(ngModel)]="password"></ion-input></div></li>
            <li class="list-format"><div><ion-input class="input" max=20 type="password" placeholder="Confirm Password" [(ngModel)]="confirm_password"></ion-input></div></li>
            <li>
              <div>
                <button ion-button (click)="signup()">
                  {{'Sign Up' | translate}}
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <p>Photo by Aleksandrs Tihonovs</p>
  </div>
</ion-content>

<!-- Recommendation results displayed after login -->
<ion-content *ngIf="!unauthorized">
  <div>
    <ion-card *ngFor="let movie of movies">
      <ion-card-content (click)="itemTapped($event, movie)">
        <img [src]="movie.poster_path"/>
        <ion-card-title>
          {{movie.title}}
          <ion-badge float-end>{{movie.vote_average}}</ion-badge>
        </ion-card-title>
      </ion-card-content>
  
      <ion-row no-padding>
        <ion-col text-center>
          <button ion-button clear small color="primary" icon-start (click)="like($event, movie)">
            <ion-icon name='thumbs-up'></ion-icon>
            Like
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start (click)="dislike($event, movie)">
            <ion-icon name='thumbs-down'></ion-icon>
            Dislike
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-refresher *ngIf="!unauthorized" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to update recommendation"
    refreshingSpinner="circles"
    refreshingText="Updating...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
