$font: Circular;
$font-color: #727272;
$theme_color: #FC5B62;


.signup_login {
  float: right;
  display: inline-block;

  button {
    margin: 13px 8px;
    padding: 0;
  }

  ionic-input {
    border-color: $font-color;
  }
}

button {
  color: $theme-color;
  font-family: $font;
  background-color: transparent;
}
