<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--
    <div class="signup_login" *ngIf="displayInputBox"><ion-input max=20 type="password" placeholder="Password" [(ngModel)]="password"></ion-input></div>
    <div class="signup_login" *ngIf="displayInputBox"><ion-input max=20 type="email" placeholder="Email" [(ngModel)]="email"></ion-input></div>
    -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let movie of movies" (click)="itemTapped($event, movie)">
    <img [src]="movie.poster_path"/>
    <ion-card-content>
      <ion-card-title>
        {{movie.title}}
        <ion-badge float-end>{{movie.vote_average}}</ion-badge>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
